doctype

html(lang="ru")
  
  -var active = 'Корзина' //активный пункт меню, список в header.jade
  -var pageTitle = 'Корзина' + ' - Nous' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header-inside
    
    .header-separator

    // Content
    .content
      .container
        
        .content__wrapper
          
          .cart
            .row
              .col-md-2
                
                .cart__step
                  .cart__step-block.is-active
                    strong 01
                    span Моя корзина 
                    i
                  .cart__step-block.is-active
                    strong 02
                    span Оформление покупки
                    i
                  .cart__step-block.is-active
                    strong 03
                    span Заказ оформлен
                  
                
              .col-md-10
                
                .cart__body
                  .h1 Заказ оформлен
                  
                  .cart__ordering
                    .cart__ordering-top
                      div
                        .cart__ordering-number Спасибо за Ваш заказ №123456 
                          small от 09.07.2018 был оформлен.
                      div
                        .cart__ordering-info
                          i.fas.fa-info-circle
                          | В ближайшее время с Вами свяжется наш специалист.
                          br
                          | Если у Вас возникнут вопросы, звоните по номеру 
                          strong.inline-block +38 093 133 14 65.
                          
                    .cart__ordering-bottom
                      div
                        .cart__ordering-title Ваш заказ №123456:
                        .cart__ordering-table
                          table(width="100%")
                            tr
                              td(width="1") 1.
                              td
                                strong Nous Optimum NS2414
                              td(align="right") 1 шт х 1 699 грн
                            tr
                              td(width="1") 2.
                              td
                                strong Nous Optimum NS2414
                              td(align="right") 1 шт х 1 699 грн
                        .cart__ordering-total Сумма заказа: 
                          strong 3 398 грн
                      div
                        .cart__ordering-title &nbsp;
                        .cart__ordering-address
                          p 
                            strong Доставка: 
                            | Харьков, отделение новой почты №1: ул. Харьковская 1
                          p 
                            strong Способ оплаты: 
                            | Безналичный расчет
                          p 
                            strong Статус: 
                            span.color--orange в ожидании обработки
          

      +subscriptionForm
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    //- script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    

  
