// Footer js
script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
script(src="./js/libs/plugins-scroll/plugins-scroll.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
script(src="./js/libs/jquery.maskedinput/jquery.maskedinput.min.js")
script(src="./js/libs/selectric/jquery.selectric.min.js")
script(src="./js/libs/slick/slick.min.js")
script(src="./js/libs/jquery.sticky-kit/jquery.sticky-kit.min.js")
