// Footer
//footer.footer
  .container
    .footer__top
      .advantages
        div
          .advantages__block
            +iconAdvantages1
            span Официальный 
              br
              | магазин TM NOUS
        div
          .advantages__block
            +iconAdvantages2
            span Гарантия Возврата 
              br
              | в течении 14 дней
        div
          .advantages__block
            +iconAdvantages3
            span Быстрая доставка 
              br
              | от 1-2 дней
        div
          .advantages__block
            +iconAdvantages4
            span Послепродажная поддержка 
              br
              | 7 дней в неделю

    .footer__center
      div
        .footer__logo
          +logo
      div
        nav.footer__navigation
          ul
            li: a(href="#!") Продукты
            li: a(href="#!") О нас
            li: a(href="#!") Поддержка
            li: a(href="#!") Компания
      div
        .footer__social
          a(href="#!" target="_blank")
            i.fab.fa-facebook-f
          a(href="#!" target="_blank")
            i.fab.fa-twitter
          a(href="#!" target="_blank")
            i.fab.fa-youtube
    .footer__bottom
      .footer__copyright Copyright © 2018 Nous
      .footer__development Разработка 
        a(href="#!" target="_blank") DARTC
  
footer.footer
  .container
    
    .footer__top
      .advantages
        div
          .advantages__block
            +iconAdvantages1
            span Официальный 
              br
              | магазин TM NOUS
        div
          .advantages__block
            +iconAdvantages2
            span Гарантия Возврата 
              br
              | в течении 14 дней
        div
          .advantages__block
            +iconAdvantages3
            span Быстрая доставка 
              br
              | от 1-2 дней
        div
          .advantages__block
            +iconAdvantages4
            span Послепродажная поддержка 
              br
              | 7 дней в неделю
    
    .footer-new
      .footer-new__center
        dl.toggle.false
          dt
            i.plus
            | Продукция
          dd: a(href="#!") Смартфоны NOUS
          dd: a(href="#!") Смартфоны Xiaomi 
          dd: a(href="#!") Смартфоны Doogee 
          dd: a(href="#!") Защищенные телефоны
          dd: a(href="#!") Телефоны с кнопкой SOS
          dd: a(href="#!") Аксессуары
          dd: a(href="#!") Запасные части
        dl.toggle.false
          dt
            i.plus
            | Поддержка
          dd: a(href="#!") Гарантийные условия
          dd: a(href="#!") Сервисное обслуживание
          dd: a(href="#!") Загрузки
          dd: a(href="#!") Возврат товара
          dd: a(href="#!") Доставка и оплата
        dl.toggle.false
          dt
            i.plus
            | Компания
          dd: a(href="#!") О нас
          dd: a(href="#!") Новости
          dd: a(href="#!") Акции
          dd: a(href="#!") Контакты
      .footer-new__right
        .footer__logo
          +logo
        .footer__social
          a(href="#!" target="_blank")
            i.fab.fa-facebook-f
          a(href="#!" target="_blank")
            i.fab.fa-twitter
          a(href="#!" target="_blank")
            i.fab.fa-youtube
        .footer__copyright Copyright © 2018 Nous
        .footer__development Разработка 
          a(href="#!" target="_blank") DARTC
