.loader
  .loader__block

mixin logo
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 207.2 59.7')
    g
      path(d='M0 59.7V20C0 14.5 2 9.8 5.9 5.9 9.8 2 14.5 0 20 0s10.3 2 14.2 5.9c3.9 3.9 5.9 8.6 5.9 14.2v35.5l-8.5 4.1V20.2c-.1-3.3-1.2-6-3.4-8.2-2.3-2.2-5-3.4-8-3.4-3.2 0-5.9 1.1-8.3 3.4-2.3 2.2-3.4 4.9-3.4 8v35.5L0 59.7zM134.9 51c3 0 5.6-1.1 7.8-3.4 2.2-2.2 3.4-4.9 3.4-8V4.1l8.5-4.1v39.6c0 5.5-2 10.3-5.9 14.2-3.9 3.9-8.6 5.9-14.2 5.9-5.5 0-10.3-2-14.2-5.9-3.9-3.9-5.9-8.6-5.9-14.2V19.5l8.5-4.1v24.1c.1 3.3 1.2 6 3.4 8.2 2.3 2.2 5.2 3.3 8.6 3.3zM187.8 51c3.2 0 5.8-1.1 7.8-3.2 2.1-2.2 3.1-4.6 3.1-7.3 0-2.4-1-4.6-3.1-6.8-2.1-2.1-4.9-3.3-8.5-3.5-4.4-.2-7.9-1.5-10.5-4-2.5-2.4-4-5.8-4.5-10.2 0-.3-.1-.6-.1-1 .2-3.9 1.7-7.3 4.7-10.3 3-3.2 6.7-4.7 11-4.7 4.6 0 8.3 1.6 11 4.7 1.8 2.1 3.2 4.8 4.2 8.1-1 .5-7.6 3.7-7.6 3.7-.6-2.3-1.4-4.2-2.6-5.6-1.3-1.5-3-2.2-5.1-2.2-2 0-3.7.7-5.1 2.2-1.3 1.4-2 2.9-2 4.6v.3c0 1.7.6 3.2 1.9 4.4 1.2 1.2 2.9 1.9 5.1 2.1 6.2.7 10.9 2.6 14.2 5.7 3.6 3.5 5.4 7.7 5.4 12.7v.3c-.1 4.8-1.8 9-5.3 12.8-3.6 3.9-8.3 5.9-14.2 5.9-5.6 0-10.2-1.9-13.7-5.8-4-4.2-6.2-9.1-6.4-14.4l8.5-4.1.1 4.1c0 3.3 1.2 6 3.4 8.2 2.3 2.2 5 3.3 8.3 3.3zM65.7 34.8V19.9c0-3 1.2-5.7 3.4-7.9s4.8-3.4 7.8-3.4c3.4 0 6.2 1.1 8.5 3.4 2.2 2.2 3.3 4.9 3.4 8.2v3.4l8.5-4.1c-.1-5.3-2.1-9.9-5.9-13.7C87.5 2 82.8 0 77.2 0 71.7 0 67 2 63.1 5.9c-3.9 3.9-5.9 8.6-5.9 14.2v18.8l8.5-4.1zM88.8 32.1v7.3c-.1 3.3-1.2 6-3.4 8.2-2.3 2.2-4.9 3.4-7.9 3.4-3.1 0-5.8-1.1-8.3-3.4-1.4-1.3-2.4-2.9-3-4.6l-7.8 3.7c1 2.6 2.5 4.9 4.6 7 3.9 3.9 8.6 5.9 14.2 5.9 5.5 0 10.3-2 14.2-5.9 3.9-3.9 5.9-8.6 5.9-14.2V28.1l-8.5 4z')

mixin iconAdvantages1
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
    g
      path(d='M12.713 38.541c.025.01.047.023.074.031l.008.002A19.031 19.031 0 0 0 20.035 40a19.03 19.03 0 0 0 7.345-1.467l.012-.003c.025-.008.046-.02.07-.029l.036-.015c.025-.012.052-.021.076-.034 6.814-2.932 11.599-9.711 11.599-17.588 0-4.245-1.361-8.265-3.937-11.626a.935.935 0 1 0-1.486 1.138 17.097 17.097 0 0 1 3.55 10.488c0 6.774-3.923 12.647-9.615 15.473L22.478 19.69l1.219-3.854L28.5 18.5a.936.936 0 0 0 1.362-.591l3.423-13.662a.935.935 0 0 0-.054-.61L31.852.554a.936.936 0 0 0-.712-.543c-.032-.005-.064-.001-.096-.002C31.028.005 31.02 0 30.998 0H9.047c-.025 0-.034.005-.05.008-.03.001-.06-.002-.09.002a.939.939 0 0 0-.714.544l-1.38 3.082a.942.942 0 0 0-.053.61l3.423 13.662a.939.939 0 0 0 .908.708.926.926 0 0 0 .454-.118l4.843-2.686 1.226 3.878-5.133 16.694c-5.744-2.808-9.71-8.709-9.71-15.522 0-3.831 1.229-7.459 3.554-10.492a.936.936 0 0 0-1.486-1.139 18.958 18.958 0 0 0-3.94 11.631c0 7.96 4.886 14.798 11.814 17.679zm15.63-22.27l-6.465-3.585 6.447-7.306c.014-.014.03-.025.044-.04l2.37-2.692.652 1.458-3.048 12.165zm-8.32-4.312l-5.561-6.302h11.123l-5.562 6.302zm8.9-10.087l-1.687 1.914H12.815l-1.691-1.914h17.8zM8.656 4.105l.653-1.46 8.86 10.04-6.465 3.585L8.655 4.105zm11.368 9.692l2.003 1.111-1.203 3.805h-1.555l-1.21-3.827 1.965-1.089zm-.75 6.864h1.548l5.137 16.421a17.16 17.16 0 0 1-5.922 1.047c-2.042 0-4.002-.359-5.822-1.013l5.06-16.455z')
      path(d='M28.594 25.911v-2.146h3.164a.936.936 0 1 0 0-1.872h-4.1a.936.936 0 0 0-.936.936v3.64c0 .344.188.659.49.823l3.342 1.807a.937.937 0 0 0 .89 0l3.342-1.807a.936.936 0 0 0 .49-.823v-3.64a.936.936 0 1 0-1.871 0v3.082l-2.406 1.3-2.405-1.3z')

mixin iconAdvantages2
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
    g
      path(d='M20.912 4.797V.907a.91.91 0 0 0-.909-.908.894.894 0 0 0-.509.16L12.52 4.932a.908.908 0 0 0-.01 1.489l6.973 4.918a.9.9 0 0 0 .52.167.91.91 0 0 0 .91-.908V6.633c8.212.482 14.63 7.382 14.63 15.754 0 8.712-6.97 15.801-15.537 15.801S4.47 31.099 4.47 22.387a.906.906 0 0 0-1.811 0C2.66 32.099 10.44 40 20.006 40c9.566 0 17.347-7.901 17.347-17.613 0-9.4-7.214-17.108-16.44-17.59zm-6.292.894l4.481-3.065V8.85l-4.48-3.159z')
      path(d='M11.608 28.874c0 .648.527 1.175 1.175 1.175H26.23c.648 0 1.175-.527 1.175-1.175v-7.968h.538v-5.04H11.07v5.04h.538v7.968zm1.812-.637v-7.331h12.173v7.331H13.42zm12.71-10.558v1.414H12.882v-1.414H26.13z')

mixin iconAdvantages3
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
    g
      path(d='M10.283 9.122h3.349c.377 0 .708-.33.708-.708a.725.725 0 0 0-.708-.708h-3.349a.726.726 0 0 0-.708.708c0 .378.331.708.708.708zM39.528 19.075l-3.585-5.613a2.079 2.079 0 0 0-1.792-.991h-5V9.783c0-1.18-.943-2.123-2.123-2.123H16.462a.726.726 0 0 0-.708.708c0 .378.33.708.708.708h10.566c.377 0 .708.33.708.708v16.934H13.868c-.613-1.038-1.745-1.792-3.066-1.792a3.493 3.493 0 0 0-3.066 1.792H5.991a.726.726 0 0 1-.708-.708v-2.453a.726.726 0 0 0-.708-.708.726.726 0 0 0-.708.708v2.453c0 1.179.943 2.123 2.123 2.123h1.274v.33c0 1.934 1.604 3.538 3.538 3.538 1.934 0 3.538-1.604 3.538-3.538v-.33H29.151v.33c0 1.934 1.604 3.538 3.538 3.538 1.934 0 3.538-1.604 3.538-3.538v-.33h1.651a2.114 2.114 0 0 0 2.123-2.123v-5.755a3.65 3.65 0 0 0-.473-1.18zM10.802 30.632a2.114 2.114 0 0 1-2.123-2.123c0-1.179.943-2.123 2.123-2.123a2.05 2.05 0 0 1 1.887 1.179c0 .094.047.236.142.33.047.189.094.425.094.613 0 1.18-.944 2.124-2.123 2.124zm21.792 0a2.114 2.114 0 0 1-2.123-2.123c0-1.179.943-2.123 2.123-2.123 1.179 0 2.123.943 2.123 2.123a2.114 2.114 0 0 1-2.123 2.123zm5.897-4.576c0 .377-.33.708-.708.708h-2.075c-.613-1.038-1.745-1.792-3.066-1.792a3.493 3.493 0 0 0-3.066 1.792h-.33v-12.83h4.953c.236 0 .472.142.613.33l3.538 5.613c.094.094.094.236.094.377v5.802h.047z')
      path(d='M33.726 15.302c-.142-.189-.377-.33-.613-.33h-1.981a.726.726 0 0 0-.708.708v4.245c0 .377.33.708.708.708h4.67c.377 0 .708-.33.708-.708a.605.605 0 0 0-.189-.472l-2.595-4.151zm-1.839 3.915v-2.83h.849l1.792 2.83h-2.641zM1.934 11.811h14.481c.377 0 .708-.33.708-.708a.725.725 0 0 0-.708-.708H1.934a.726.726 0 0 0-.708.708c0 .378.283.708.708.708zM5.66 19.122c0 .377.33.708.708.708h14.481c.377 0 .708-.33.708-.708a.726.726 0 0 0-.708-.708H6.368a.727.727 0 0 0-.708.708zM4.104 19.122a.726.726 0 0 0-.708-.708H.708a.727.727 0 0 0-.708.708c0 .377.33.708.708.708h2.689a.695.695 0 0 0 .707-.708zM14.953 15.962c.377 0 .708-.33.708-.708a.726.726 0 0 0-.708-.708H7.594a.726.726 0 0 0-.708.708c0 .377.33.708.708.708h7.359z')

mixin iconAdvantages4
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
    g
      path(d='M26.715 28.06a.763.763 0 0 0 .762-.763v-7.96a.763.763 0 0 0-.762-.763H13.447a.763.763 0 0 0-.762.763v11.941a.761.761 0 0 0 1.3.54l3.716-3.757h9.014zm-9.827-1.302l-2.68 2.679V20.1h11.743v6.434h-8.524a.766.766 0 0 0-.54.224z')
      path(d='M17.427 22.753h5.308a.763.763 0 0 0 0-1.526h-5.308a.763.763 0 0 0 0 1.526zM24.06 23.881H16.1a.764.764 0 0 0 0 1.526h7.96a.764.764 0 0 0 0-1.526zM7.476 23.218H4.824a.764.764 0 0 0 0 1.526h2.653a.764.764 0 0 0-.001-1.526zM7.476 19.901H4.824a.764.764 0 0 0 0 1.526h2.653a.764.764 0 0 0-.001-1.526zM7.476 26.534H4.824a.764.764 0 0 0 0 1.526h2.653a.764.764 0 0 0-.001-1.526z')
      path(d='M36.863 15.921H36.1v-.564C36.1 7.033 28.765 0 20.08 0 11.398 0 4.06 7.033 4.06 15.357v.564h-.762a1.893 1.893 0 0 0-1.891 1.891v12.337c0 1.043.848 1.891 1.89 1.891h5.705a1.893 1.893 0 0 0 1.89-1.891V17.812a1.893 1.893 0 0 0-1.89-1.891h-.763v-.564c0-5.955 5.534-11.178 11.84-11.178 6.308 0 11.842 5.223 11.842 11.178v.564h-.763a1.893 1.893 0 0 0-1.891 1.891v12.337c0 1.043.848 1.891 1.89 1.891h2.09v.564a3.885 3.885 0 0 1-3.881 3.881H24.04a2.748 2.748 0 0 0-2.635-1.99h-2.653A2.756 2.756 0 0 0 16 37.248 2.756 2.756 0 0 0 18.754 40h2.653a2.748 2.748 0 0 0 2.635-1.99h5.325a5.412 5.412 0 0 0 5.407-5.406v-.564h2.089a1.893 1.893 0 0 0 1.89-1.891V17.812a1.893 1.893 0 0 0-1.89-1.891zm-6.07 1.891c0-.202.165-.365.366-.365h5.704c.2 0 .365.164.365.365v12.337a.365.365 0 0 1-.365.365h-5.704a.366.366 0 0 1-.365-.365V17.812zM9.368 30.149a.365.365 0 0 1-.365.365H3.298a.366.366 0 0 1-.365-.365V17.812c0-.202.164-.365.365-.365h5.704c.2 0 .365.164.365.365v12.337zM6.715 15.357v.564h-1.13v-.564c0-7.497 6.638-13.831 14.495-13.831 7.857 0 14.496 6.334 14.496 13.831v.564h-1.13v-.564c0-6.886-6.12-12.704-13.365-12.704S6.715 8.471 6.715 15.357zm14.692 23.118h-2.653a1.23 1.23 0 0 1-1.228-1.227 1.23 1.23 0 0 1 1.228-1.228h2.653a1.23 1.23 0 0 1 1.228 1.228 1.23 1.23 0 0 1-1.228 1.227z')
      path(d='M32.685 24.743h2.653a.764.764 0 0 0 0-1.526h-2.653a.764.764 0 0 0 0 1.526zM32.685 21.427h2.653a.764.764 0 0 0 0-1.526h-2.653a.764.764 0 0 0 0 1.526zM32.685 28.06h2.653a.764.764 0 0 0 0-1.526h-2.653a.764.764 0 0 0 0 1.526z')

mixin iconAdvantages5
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
    g
      path(d='M24.885 0H.861v40h30V5.977L24.884 0zm.143 2.5l3.333 3.333h-3.333V2.5zm-22.5 35.833V1.667h20.833V7.5h5.835v30.833H2.528z')
      path(d='M25.028 29.167h-5a.832.832 0 1 0 0 1.666h5a.832.832 0 1 0 0-1.666zM25.028 15H6.695a.833.833 0 1 0 0 1.667h18.333a.834.834 0 0 0 0-1.667zM25.028 20H6.695a.833.833 0 1 0 0 1.667h18.333a.834.834 0 0 0 0-1.667zM6.695 11.667h9.166a.834.834 0 0 0 0-1.667H6.695a.833.833 0 1 0 0 1.667zM10.028 25a4.167 4.167 0 0 0-2.5 7.5v4.167l2.5-.835 2.5.835V32.5a4.167 4.167 0 0 0-2.5-7.5zm.833 9.354l-.306-.101-.527-.176-.527.176-.306.101v-1.105c.27.055.548.083.833.083.285 0 .564-.028.833-.083v1.105zm-.833-2.687a2.503 2.503 0 0 1-2.5-2.5c0-1.379 1.121-2.5 2.5-2.5 1.38 0 2.5 1.121 2.5 2.5 0 1.377-1.12 2.5-2.5 2.5zM39.195 10a3.335 3.335 0 0 0-6.667 0v22.5h1.034l-1.034 3.611 3.332 2.222 3.335-2.222L38.16 32.5h1.035V10zm-5 0c0-.919.747-1.667 1.665-1.667.92 0 1.667.748 1.667 1.667v20.833h-3.333V10zm3.062 25.4l-1.396.93-1.395-.93.83-2.9h1.132l.83 2.9z')
      path(d='M10.028 28.333a.834.834 0 1 0 .003 1.668.834.834 0 0 0-.003-1.668z')

mixin iconAdvantages6
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
    path(d='M8.653.002a.972.972 0 0 0-.193.007c-2.833.333-5 2.733-5 5.599v4.199c0 .467.067.933.234 1.399.8 2.133 2.266 3.866 4.166 4.933v19.329A4.537 4.537 0 0 0 12.392 40a4.537 4.537 0 0 0 4.532-4.532V16.205c2.166-1.166 3.799-3.099 4.299-5.399.067-.233.067-.5.067-.8V5.608a5.627 5.627 0 0 0-5-5.599.736.736 0 0 0-.632.2.914.914 0 0 0-.267.633V7.74l-3 1.433L9.394 7.74V.842c0-.233-.1-.467-.266-.633a.725.725 0 0 0-.474-.207zm20.869.007a.825.825 0 0 0-.833.833v3.333c0 .2.067.4.2.566l1.3 1.433v12.997h-4.333a.825.825 0 0 0-.833.833c0 .466.367.833.833.833h1.166v14.997a4.167 4.167 0 0 0 8.332 0V20.837h.833a.825.825 0 0 0 .833-.833.826.826 0 0 0-.833-.833h-4.332V6.174l1.3-1.433a.906.906 0 0 0 .2-.566V.842a.825.825 0 0 0-.833-.833h-3zm.833 1.666h1.333v2.166l-.667.733-.667-.733V1.675zm-22.63.2V8.24c0 .333.168.6.468.767l3.833 1.866c.233.1.5.1.733 0l3.833-1.866c.3-.133.467-.434.467-.767V1.875a3.977 3.977 0 0 1 2.6 3.733v4.399c0 .167 0 .333-.033.467-.633 2.966-3.733 5.199-7.232 5.199a7.5 7.5 0 0 1-7.098-5.032 2.268 2.268 0 0 1-.135-.834V5.608c0-1.7 1.066-3.167 2.565-3.733zm1.8 14.996c.9.3 1.867.467 2.867.467s1.966-.167 2.866-.434v18.563a2.866 2.866 0 1 1-5.732 0V16.871zm2.507 2.52c-.3-.016-.506-.004-.506.346v12.365c0 .467.367.833.833.833a.825.825 0 0 0 .833-.833V19.737c0-.467-.367-.333-.833-.333-.117 0-.227-.008-.327-.013zm16.657 1.446h4.999v14.997a2.517 2.517 0 0 1-2.5 2.499 2.517 2.517 0 0 1-2.498-2.499V20.837zm2.333 1.667a.825.825 0 0 0-.833.833v12.064c0 .467.367.833.833.833a.825.825 0 0 0 .833-.833V23.337a.825.825 0 0 0-.833-.833zm-18.63 11.564c-.733 0-1.333.6-1.333 1.333s.6 1.333 1.333 1.333 1.333-.6 1.333-1.333-.6-1.333-1.333-1.333zm0 .999c.2 0 .333.133.333.333s-.133.333-.333.333-.333-.133-.333-.333c0-.199.133-.333.333-.333z')

mixin iconAdvantages7
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
    path(d='M30.662 13.602v-.042c0-.042 0-.042-.042-.084 0-.042-.042-.042-.042-.084 0 0 0-.042-.042-.042-.042-.042-.042-.084-.084-.084l-3.77-3.77a.776.776 0 0 0-.503-.208H15.876a.698.698 0 0 0-.503.21l-3.77 3.77c-.042.041-.042.083-.084.083l-.042.042c0 .042-.042.042-.042.084s0 .042-.042.084V29.52c0 .377.335.712.712.712h2.68c.085 0 .127 0 .21-.042a2.841 2.841 0 0 0 2.806 2.387 2.793 2.793 0 0 0 2.764-2.346h11.059c.25 1.34 1.382 2.346 2.764 2.346a2.793 2.793 0 0 0 2.764-2.346h2.136a.734.734 0 0 0 .712-.712v-7.414c0-1.885-.545-3.476-1.55-4.565-.963-1.047-2.304-1.593-3.812-1.593H30.7v-2.218c-.04-.042-.04-.084-.04-.126zm-9.048-2.89h4.272l2.345 2.346h-6.618v-2.346zm-5.487 0h4.021v2.346h-6.367l2.346-2.346zm1.59 20.483a1.394 1.394 0 0 1-1.381-1.382c0-.754.628-1.382 1.382-1.382.754 0 1.382.628 1.382 1.382 0 .754-.628 1.382-1.382 1.382zm11.478-14.534v12.188H20.61c-.084 0-.168 0-.209.042a2.806 2.806 0 0 0-2.681-1.927c-1.257 0-2.304.838-2.681 1.927a.774.774 0 0 0-.293-.084h-1.927V14.44h16.42v2.22h-.043zm5.11 14.534a1.394 1.394 0 0 1-1.381-1.382c0-.754.628-1.382 1.382-1.382.754 0 1.382.628 1.382 1.382 0 .754-.628 1.382-1.382 1.382zm.294-13.822c2.429 0 3.937 1.8 3.937 4.733v6.702h-1.55a2.824 2.824 0 0 0-2.681-1.885 2.81 2.81 0 0 0-2.64 1.885h-.962V17.373h3.896zM3.77 17.038h5.487c.377 0 .712.335.712.712a.734.734 0 0 1-.712.712H3.77a.734.734 0 0 1-.712-.712c0-.377.335-.712.712-.712zM0 21.645c0-.377.335-.712.712-.712h8.503c.377 0 .712.335.712.712a.734.734 0 0 1-.712.712H.712A.706.706 0 0 1 0 21.645zm9.97 3.895a.734.734 0 0 1-.713.712H3.77a.734.734 0 0 1-.712-.712c0-.377.335-.712.712-.712h5.487c.418 0 .712.293.712.712zm6.366-3.811c0-.377.335-.712.712-.712h5.53l-.964-.963c-.293-.293-.293-.754 0-1.005.293-.293.754-.293 1.005 0l2.178 2.178c.042.042.042.084.084.084 0 0 0 .042.042.042 0 .042.042.042.042.084s0 .042.042.084v.336c0 .042 0 .042-.042.084 0 .042-.042.042-.042.084 0 0 0 .042-.042.042-.042.042-.042.084-.084.084l-2.304 2.304a.771.771 0 0 1-.503.209.776.776 0 0 1-.503-.21c-.293-.292-.293-.753 0-1.004l1.09-1.09h-5.53c-.376.08-.711-.254-.711-.631z')

mixin iconAdvantages8
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
    g
      path(d='M14.167 32.5h-.833v-5.977a2.482 2.482 0 0 0-.732-1.767L10 22.155V17.5a2.499 2.499 0 0 0-1.667-2.347v-6.82H12.5a2.5 2.5 0 0 0 2.5-2.5V1.667h19.167c.46 0 .833.373.833.833v15h1.667v-15a2.5 2.5 0 0 0-2.5-2.5h-20a.833.833 0 0 0-.589.244L6.911 6.911a.825.825 0 0 0-.244.589v4.167h-.834a.833.833 0 0 0-.589.244l-5 5A.833.833 0 0 0 0 17.5V25a.826.826 0 0 0 .11.417l3.223 5.638V32.5H2.5a.833.833 0 0 0-.833.833v5.833c0 .461.373.834.833.834h11.667c.46 0 .833-.373.833-.834v-5.833a.833.833 0 0 0-.833-.833zM12.5 6.667H9.512l3.822-3.822v2.988a.835.835 0 0 1-.834.834zM4.89 30.416l-3.223-5.638v-6.933l4.512-4.512h.488v1.82A2.499 2.499 0 0 0 5 17.5v4.655l-1.422 1.422 1.178 1.178 1.667-1.667a.833.833 0 0 0 .244-.589v-5a.833.833 0 1 1 1.666.001v5c0 .221.088.433.244.589l2.845 2.845a.84.84 0 0 1 .244.589V32.5H5v-1.667a.826.826 0 0 0-.11-.417zm8.443 7.917h-10v-4.167h10v4.167z')
      path(d='M33.333 7.5V5.833a2.5 2.5 0 0 0-2.5-2.5h-1.667V5h1.667c.46 0 .833.373.833.833V7.5h1.667zM25.833 3.333H27.5V5h-1.667zM40 25.833a7.5 7.5 0 1 0-12.5 5.574v7.759a.835.835 0 0 0 1.354.651L32.5 36.9l3.646 2.917a.832.832 0 0 0 1.354-.65v-7.759a7.482 7.482 0 0 0 2.5-5.575zm-13.334 0a5.833 5.833 0 1 1 5.833 5.833 5.84 5.84 0 0 1-5.833-5.833zm9.167 11.599l-2.812-2.25a.833.833 0 0 0-1.042 0l-2.812 2.25v-4.891a7.418 7.418 0 0 0 6.667 0v4.891z')
      path(d='M31.666 28.333a.833.833 0 0 0 .589-.244l3.333-3.333-1.178-1.178-2.744 2.744-1.077-1.077-1.178 1.178 1.667 1.667a.834.834 0 0 0 .588.243zM16.667 38.333h9.167V40h-9.167zM15 10.833h16.667V12.5H15zM11.667 14.167h20v1.667h-20zM11.667 17.5h15v1.667h-15zM11.667 20.833h11.667V22.5H11.667zM11.667 10.833h1.667V12.5h-1.667zM25 31.666V30h-7.5a.833.833 0 0 1-.833-.833v-2.5c0-.46.373-.833.833-.833h5.833v-1.667H17.5a2.5 2.5 0 0 0-2.5 2.5v2.5a2.5 2.5 0 0 0 2.5 2.5H25z')

mixin subscriptionForm
  .subscription
    .container
      
      .subscription__wrapper
        div
          .subscription__body
            div
              .subscription__label Получите 
                strong скидку 10% 
                br
                | за подписку на новости
            div
              // .subscription__thank.is-active
              .subscription__thank
                div Спасибо за подписку! Проверьте почту, мы отправили Вам промо-кодом на 
                  strong скидку 10%
              form(action="#").subscription__form
                .form-group
                  input(type="text" placeholder="Введите Email").subscription__input.form-control
                  button(type="submit").subscription__btn
                    i.fab.fa-telegram-plane

mixin iconDelivery1
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 37 37')
    g
      path(d='M.526 19.947h10.478c.061 0 .11-.05.11-.11v-9.23a.11.11 0 0 0-.11-.11H.526a.11.11 0 0 0-.11.11v9.23c0 .06.05.11.11.11zm3.706-3.277a.11.11 0 0 0 .121-.03l1.412-1.572 1.411 1.572a.11.11 0 0 0 .192-.073v-4.943h2.62v7.197H1.542v-7.197h2.62v4.943a.11.11 0 0 0 .07.103zm1.056-2.727v-2.32h.955v2.365l-.437-.52a.11.11 0 0 0-.084-.038h-.004a.11.11 0 0 0-.085.045l-.345.468zM31.193 26.664a4.646 4.646 0 0 0-4.64 4.642 4.646 4.646 0 0 0 4.64 4.641 4.646 4.646 0 0 0 4.642-4.641 4.646 4.646 0 0 0-4.642-4.642zm3.516 4.642a3.478 3.478 0 0 1-3.516 3.515 3.478 3.478 0 0 1-3.515-3.515 3.478 3.478 0 0 1 3.515-3.516 3.478 3.478 0 0 1 3.516 3.516z')
      path(d='M31.193 29.203c-1.159 0-2.102.943-2.102 2.103 0 1.16.943 2.102 2.102 2.102 1.16 0 2.103-.943 2.103-2.102 0-1.16-.943-2.103-2.103-2.103zm.978 2.061a.978.978 0 0 1-1.954 0 .978.978 0 0 1 1.954 0zM9.927 29.203c-1.16 0-2.103.943-2.103 2.103 0 1.16.944 2.102 2.103 2.102 1.16 0 2.103-.943 2.103-2.102 0-1.16-.944-2.103-2.103-2.103zm.977 2.061a.978.978 0 0 1-.977.977.978.978 0 0 1 0-1.954c.539 0 .977.439.977.977z')
      path(d='M9.927 26.664a4.646 4.646 0 0 0-4.641 4.642 4.647 4.647 0 0 0 4.641 4.641 4.647 4.647 0 0 0 4.641-4.641 4.647 4.647 0 0 0-4.64-4.642zm3.515 4.642a3.478 3.478 0 0 1-3.515 3.515 3.478 3.478 0 0 1-3.516-3.515 3.478 3.478 0 0 1 3.516-3.516 3.479 3.479 0 0 1 3.515 3.516z')
      path(d='M36.995 29.391c-.53-1.79-1.86-3.193-3.654-3.852l-1.197-2.17c.22-.018.424-.054.542-.078l.36-.09a.11.11 0 0 0 .084-.107v-4.47a.11.11 0 0 0-.092-.11l-.53-.088a6.478 6.478 0 0 1-.238-.046 2.95 2.95 0 0 0-.577-.08c-.752 0-1.48.185-2.067.523l-2.06-3.836a.11.11 0 0 0-.096-.058h-1.937c.096-.213.147-.447.147-.686 0-.948-.863-1.811-1.812-1.811l-3.867.014-2.882-3.993a2.105 2.105 0 0 0-1.7-.85h-1.04c-1.07 0-2.014.864-2.102 1.923l-.789 8.064c-.046.273-.001.54.042.798.26 1.517 1.485 2.66 2.85 2.66h4.43v5.472c0 1.113.944 2.02 2.104 2.02 1.22 0 1.977-.775 1.977-2.023l-.124-6.864c0-1.744-1.316-3.06-3.06-3.06h-2.668l.161-1.573 1.015 1.003a.11.11 0 0 0 .077.031h6.02l2.815 6.775-3.57 5.833h-5.368l-.041-7.381a.11.11 0 0 0-.11-.11H2.643C1.284 21.171 0 22.456 0 23.814v9.609c0 .06.05.11.11.11h5.122a.11.11 0 0 0 .105-.142l-.18-.589a5.27 5.27 0 0 1-.244-1.496c0-1.434.634-2.82 1.738-3.8a5.006 5.006 0 0 1 3.3-1.225c.247 0 .498.018.746.051 2.363.326 4.205 2.36 4.285 4.734.04.582-.148 1.2-.326 1.737l-.181.588a.11.11 0 0 0 .105.142h11.919a.11.11 0 0 0 .105-.142l-.183-.595a3.99 3.99 0 0 1-.242-1.287c-.08-2.503 1.767-4.777 4.21-5.178a3.58 3.58 0 0 1 .695-.066c.15 0 .309.009.484.027h.041c.122 0 .3.028.543.083l.053-.003c.207.042.356.08.504.154l.102.05c1.443.48 2.577 1.63 3.124 3.19a.11.11 0 0 0 .137.067l.86-.27c.057-.019.08-.114.063-.172zM16.282 12.82l-.512 4.777a.11.11 0 0 0 .11.122h3.827c1.121 0 1.934.814 1.934 1.935v6.866c0 .626-.255.894-.852.894-.548 0-.977-.393-.977-.894v-6.487a.11.11 0 0 0-.11-.11h-5.405c-.806 0-1.534-.739-1.73-1.762a.924.924 0 0 1 .003-.45l.791-8.077a.98.98 0 0 1 .977-.904h1.04c.327 0 .617.144.798.397l3.235 4.385a.11.11 0 0 0 .088.045h4.37c.333 0 .686.352.686.686a.678.678 0 0 1-.207.479.678.678 0 0 1-.48.207l-5.172.01-2.228-2.186a.11.11 0 0 0-.114-.025.107.107 0 0 0-.072.092zm13.9 7.008c.448-.267.97-.403 1.553-.403.051 0 .11.009.177.018.043.005.088.012.134.016v2.76c-.046.005-.092.011-.137.018-.063.008-.123.016-.174.016h-.205l-1.348-2.425zm-5.023 12.58h-9.217a6.21 6.21 0 0 0 .166-1.4c-.129-2.921-2.384-5.414-5.245-5.799a6.15 6.15 0 0 0-4.903 1.45 6.17 6.17 0 0 0-2.131 4.647c0 .384.043.769.122 1.101H1.126v-8.593c0-.794.724-1.517 1.518-1.517h14.42v7.38a.11.11 0 0 0 .11.11l6.976-.017a.11.11 0 0 0 .094-.052l4.164-6.734a.11.11 0 0 0 .008-.1l-2.83-6.83h1.317l5.025 9.124a8.2 8.2 0 0 0-.73-.032c-.336 0-.667.02-.984.063-3.022.468-5.288 3.24-5.16 6.305 0 .193.033.413.068.65.013.08.026.161.037.244zM15.17 7.481c1.772 0 3.269-1.496 3.269-3.268 0-.074 0-.15-.009-.228h1.73c.06 0 .11-.05.11-.11v-.906a.11.11 0 0 0-.11-.11h-2.02A3.277 3.277 0 0 0 15.17.945a3.272 3.272 0 0 0-3.267 3.268A3.271 3.271 0 0 0 15.17 7.48zm0-5.41a2.12 2.12 0 0 1 1.672.788h-3.314c.375-.497.976-.788 1.643-.788zm0 4.284c-1.16 0-2.142-.981-2.142-2.142 0-.083 0-.157.011-.228h4.245l.011.07c.009.053.018.105.018.157 0 1.162-.98 2.143-2.142 2.143z')

mixin iconDelivery2
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 37 37')
    g
      path(d='M4.612 32.052a2.635 2.635 0 1 1 0-5.271 2.635 2.635 0 0 1 0 5.27zm0-3.953a1.318 1.318 0 1 0 0 2.635 1.318 1.318 0 0 0 0-2.635zM23.718 32.052a2.635 2.635 0 1 1 0-5.271 2.635 2.635 0 0 1 0 5.27zm0-3.953a1.318 1.318 0 1 0 0 2.635 1.318 1.318 0 0 0 0-2.635z').path-color1
      path(d='M8.565 30.075H6.588v-1.317h1.318v-7.906H4.61a3.298 3.298 0 0 0-3.294 3.294v4.612h1.318v1.317H.66A.659.659 0 0 1 0 29.416v-5.27a4.618 4.618 0 0 1 4.612-4.612h3.953c.364 0 .659.295.659.659v9.224a.66.66 0 0 1-.66.658z').path-color1
      path(d='M21.741 30.075H8.565a.659.659 0 0 1-.66-.659V16.9c0-1.092.885-1.977 1.977-1.977h.184v1.318h-.184a.659.659 0 0 0-.659.659v11.859h12.518v1.317zM27.012 30.075h-1.318v-1.317h1.318a.659.659 0 0 0 .66-.66v-7.536h1.317v7.537a1.977 1.977 0 0 1-1.977 1.976z').path-color1
      path(d='M13.07 23.487a.659.659 0 0 1-.659-.659l.001-2.707c-1.252-.293-1.976-1.45-1.976-3.222V9.573a3.298 3.298 0 0 1 3.293-3.294h19.977A3.298 3.298 0 0 1 37 9.573v7.326a3.298 3.298 0 0 1-3.294 3.294H17.262l-3.769 3.142a.664.664 0 0 1-.422.152zm.66-15.89a1.977 1.977 0 0 0-1.977 1.976v7.326c0 1.976.988 1.976 1.317 1.976.364 0 .66.295.66.66v1.887l2.871-2.394a.662.662 0 0 1 .423-.153h16.682a1.977 1.977 0 0 0 1.976-1.976V9.573a1.977 1.977 0 0 0-1.976-1.977H13.729zM10.541 26.122h1.318v1.318H10.54zM13.177 26.122h1.317v1.318h-1.317zM15.812 26.122h1.317v1.318h-1.317z').path-color1
    g
      path(d='M16.826 9.662c.07.054.145.102.208.164.423.415.845.833 1.265 1.252.038.038.055.096.083.145-.051.013-.102.037-.154.038-.162.005-.325 0-.487.003-.17.002-.23.065-.23.236l-.001.957c0 .166-.061.229-.228.23h-.999c-.143-.001-.208-.067-.208-.213v-.983c-.001-.158-.063-.224-.224-.227-.19-.004-.38 0-.57-.003-.04-.001-.08-.026-.118-.04.017-.04.024-.088.052-.116.46-.458.922-.915 1.385-1.37.03-.03.072-.05.108-.073h.118zM12.88 13.44c.046-.055.088-.114.139-.164.437-.434.874-.867 1.314-1.297.033-.032.083-.047.125-.07.015.047.044.095.044.143.002.957.002 1.914.002 2.87 0 .02.001.04-.001.06-.01.084-.056.105-.126.057-.021-.014-.038-.033-.056-.051l-1.363-1.368c-.029-.029-.052-.064-.078-.096v-.084zM16.074 14.99v-.529c.002-.148.067-.213.217-.214h.99c.164 0 .229.067.229.23v1.031c0 .18.065.244.242.245.165 0 .33-.002.495.003.035 0 .068.026.102.04-.018.029-.031.064-.055.087l-1.338 1.343c-.14.141-.227.142-.367.002l-1.357-1.361c-.018-.02-.024-.051-.036-.077.027-.011.054-.032.08-.033.183-.004.364-.003.546-.004.189 0 .252-.063.252-.252v-.511zM19.08 13.476V12.09c0-.025-.004-.052.003-.075.006-.025.016-.061.034-.069.018-.007.054.01.071.028.466.452.931.904 1.395 1.359.103.101.098.19-.007.294l-1.361 1.346c-.025.023-.058.037-.088.055-.015-.037-.043-.073-.044-.11-.004-.299-.002-.598-.002-.898v-.545z').path-color2
      g
        path(d='M29.56 15.723v-.102-1.393c0-.034 0-.068.003-.1.016-.162.081-.225.242-.23.145-.003.29 0 .442 0v.412c-.037.002-.076.008-.113.005-.07-.006-.092.022-.092.092.003.316.002.632.002.948 0 .19.002.38-.002.57-.003.175-.075.246-.248.246h-2.19c-.19 0-.264-.075-.264-.266-.002-.493 0-.985 0-1.477 0-.111-.001-.117-.111-.11-.081.004-.1-.028-.096-.101.004-.103 0-.206 0-.311.178 0 .345-.01.51.002.123.01.176.091.179.233.002.177 0 .353 0 .53v1.052h.628v-.907-.912h.482v1.819h.629zM27.061 12.095a1.184 1.184 0 0 1-1.23 1.184c-.661-.01-1.166-.568-1.146-1.247a1.15 1.15 0 0 1 1.17-1.103c.801.003 1.21.613 1.206 1.166zm-.507-.003c.002-.268-.133-.515-.368-.622-.232-.107-.469-.122-.692.038-.288.205-.37.62-.192.957.244.462.825.442 1.096.088a.745.745 0 0 0 .156-.46zM27.018 15.02a1.173 1.173 0 0 1-1.224 1.19c-.622-.004-1.137-.546-1.134-1.198a1.153 1.153 0 0 1 1.136-1.152c.782-.005 1.232.577 1.222 1.16zm-1.855-.007c.009.064.01.129.026.19.07.276.23.484.517.532.264.044.504-.033.67-.267a.73.73 0 0 0 .135-.373c.032-.456-.25-.779-.718-.771-.36.006-.623.312-.63.69zM28.717 12.04c.345.258.401.669.132.96a.746.746 0 0 1-.54.234c-.234.01-.47.005-.705.003-.135-.002-.198-.06-.217-.194a.849.849 0 0 1-.008-.126v-1.419-.108h-.2v-.413c.014-.003.028-.007.04-.007.362.001.723-.005 1.084.006.382.011.633.284.61.643-.01.144-.051.235-.196.421zm-.855.224c0 .17-.001.328.002.486 0 .018.026.05.04.05.136 0 .274.006.408-.011.132-.017.207-.132.201-.268-.006-.141-.092-.246-.229-.255-.135-.009-.272-.002-.422-.002zm.001-.876c0 .152-.001.293.002.435 0 .014.03.038.048.04.103.003.207.006.309 0 .127-.01.21-.112.208-.249-.002-.136-.079-.22-.217-.224-.112-.005-.223-.002-.35-.002zM24.345 15.728h.18v.43c-.178 0-.355.006-.532-.004-.083-.004-.131-.07-.144-.153a1.195 1.195 0 0 1-.011-.176c-.001-.47-.002-.94.001-1.41 0-.077-.022-.102-.1-.1-.22.004-.441 0-.663 0-.027 0-.054.004-.09.006v1.846h-.484v-.101c0-.551-.002-1.103.001-1.654 0-.079-.024-.101-.1-.098-.108.005-.109 0-.109-.11 0-.078.002-.156 0-.235-.002-.052.015-.073.071-.073.568.002 1.136 0 1.704.002.193 0 .275.088.276.28v1.55zM24.364 13.233h-.483v-.903h-.89v.9h-.489v-.1-1.604c0-.164.002-.136-.133-.138h-.072c0-.132-.001-.26.003-.386 0-.012.036-.031.056-.031.143-.002.286-.003.428.002.11.005.171.058.189.167.012.076.012.155.013.233.002.165 0 .33 0 .502h.89c.002-.027.005-.057.005-.086l.001-.57c.002-.17.07-.242.239-.247.144-.004.29 0 .441 0v.416c-.034 0-.07.004-.105 0-.076-.01-.094.025-.093.096.002.548 0 1.097 0 1.645v.104zM34.367 15.723v.446c-.115 0-.227.005-.337-.002-.108-.007-.177-.07-.214-.173-.04-.113-.09-.222-.133-.335-.016-.042-.039-.06-.086-.059-.182.003-.364.003-.545 0-.048 0-.07.019-.086.06-.042.11-.092.217-.13.327-.04.12-.121.179-.242.184-.106.004-.212 0-.326 0v-.432c.006-.003.01-.007.016-.007.134-.008.133-.008.181-.14.196-.538.393-1.075.585-1.614.023-.064.053-.086.12-.082.106.007.213.006.319 0 .06-.002.086.019.107.076.195.544.395 1.085.59 1.63.032.087.062.156.181.121zm-1.248-.544h.411l-.205-.63-.206.63zM31.26 12.798v.428c-.133 0-.263.009-.392-.003-.089-.008-.132-.084-.163-.164-.043-.111-.09-.222-.133-.334-.017-.044-.04-.06-.087-.059-.18.002-.358-.002-.538.004-.029 0-.071.03-.083.056a5.03 5.03 0 0 0-.137.343.237.237 0 0 1-.235.168c-.109.002-.218 0-.334 0v-.42c.004-.003.009-.01.012-.01.116.017.155-.05.19-.148.19-.537.388-1.071.58-1.608.023-.065.053-.086.12-.083.106.005.213.006.319 0 .065-.004.092.024.113.082.194.541.393 1.082.586 1.623.032.087.061.159.182.125zm-.839-.55l-.205-.634-.206.633h.411zM31.19 14.317c-.101 0-.187-.003-.273.002-.017 0-.04.026-.046.044-.008.023-.005.05-.002.075.006.06-.015.087-.08.084a4.368 4.368 0 0 0-.293 0c-.05.001-.07-.017-.068-.068.003-.118-.001-.236.002-.353.005-.128.062-.186.19-.2a.303.303 0 0 1 .033-.002c.513 0 1.024-.002 1.537 0 .18.001.24.065.247.245.003.103.003.207-.002.31 0 .023-.026.063-.041.063-.13.005-.261.003-.39.003-.006-.018-.01-.026-.01-.034-.014-.17-.014-.17-.185-.17H31.8c-.129 0-.129 0-.129.125V16.167h-.482v-1.85z')

mixin iconPayment1
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 37 37')
    g
      path(d='M27.75 30.56h-2.718a1.028 1.028 0 1 0 0 2.056h2.717a1.028 1.028 0 1 0 0-2.055zM20.765 30.56H18.05a1.028 1.028 0 1 0 0 2.056h2.714a1.028 1.028 0 1 0 0-2.055z').path-color1
      path(d='M34.542 15.298h-7.358a19.955 19.955 0 0 0-1.264-3.855 32.862 32.862 0 0 0-1.57-3.118 7.788 7.788 0 0 0-5.47-3.843L3.891 1.881a.944.944 0 0 0-.321 1.861l15.002 2.601a5.907 5.907 0 0 1 4.134 2.918c.537.951 1.024 1.93 1.457 2.933.443 1.002.797 2.04 1.057 3.103h-6.293c.088-.223.164-.451.227-.683a.946.946 0 0 0-1.824-.506c-.125.495-.351.96-.664 1.363a7.999 7.999 0 0 1-2.265-2.209.95.95 0 1 0-1.563 1.08 9.873 9.873 0 0 0 2.91 2.786l4.848 3.073a1.666 1.666 0 0 1-1.775 2.82l-3.718-2.295a8.829 8.829 0 0 0-4.938-1.333 6.942 6.942 0 0 1-5.95-3.02l-.17-.249a8.801 8.801 0 0 0-2.593-2.492.95.95 0 0 0-1.008 1.609A6.926 6.926 0 0 1 2.487 17.2l.17.25a8.824 8.824 0 0 0 3.915 3.159l-.234.23a2.982 2.982 0 0 0 1.216 4.972 2.892 2.892 0 0 0 3.775 3.363l.132-.045v3.824c0 1.358 1.1 2.458 2.458 2.458h20.623c1.358 0 2.458-1.1 2.458-2.458V17.751a2.458 2.458 0 0 0-2.458-2.453zM11.469 27.133l-.763.268a1.004 1.004 0 0 1-.865-1.797l.03-.023c.046-.026.095-.045.14-.071l1.458-.895v2.518zm.007-4.72l-.057.027-2.393 1.472a1.099 1.099 0 0 1-1.356-1.717l-.007-.012 1.023-.996a8.981 8.981 0 0 0 1.544.09c.417-.01.834.016 1.246.08v1.057zm7.856-5.228h15.21a.57.57 0 0 1 .57.566v2.643h-12.08a3.549 3.549 0 0 0-1.427-1.756l-2.273-1.453zm15.21 16.339H13.926a.57.57 0 0 1-.57-.57V21.927c.26.12.512.254.755.404l3.711 2.31a3.53 3.53 0 0 0 1.888.54c.283 0 .566-.035.842-.102a3.525 3.525 0 0 0 2.215-1.63 3.58 3.58 0 0 0 .442-1.163h11.903v8.35a1.019 1.019 0 0 0-.383-.075h-2.713a1.028 1.028 0 1 0 0 2.056h2.713c.136 0 .264-.028.383-.076v.413a.57.57 0 0 1-.57.57z').path-color1

mixin iconPayment2
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 37 37')
    path(d='M10.332 10.603l17.713-4.336a4.26 4.26 0 0 1 5.19 3.31.955.955 0 1 1-1.872.381 2.353 2.353 0 0 0-2.868-1.826l-17.709 4.324a.954.954 0 1 1-.454-1.853zM22.66.141a4.223 4.223 0 0 0-3.31.496l-15.73 9.71a.954.954 0 1 0 1.004 1.621l15.725-9.706a2.353 2.353 0 0 1 3.291.858.954.954 0 0 0 1.667-.927A4.222 4.222 0 0 0 22.659.141zm.294 25.135a4.539 4.539 0 1 1-9.078 0 4.539 4.539 0 0 1 9.078 0zm-1.907 0a2.632 2.632 0 1 0-5.263 0 2.632 2.632 0 0 0 5.263 0zm15.115-7.499v15A4.23 4.23 0 0 1 31.939 37H4.889a4.23 4.23 0 0 1-4.222-4.222v-15a4.23 4.23 0 0 1 4.222-4.234h27.05a4.23 4.23 0 0 1 4.222 4.233zm-1.907 0a2.319 2.319 0 0 0-2.312-2.326H4.89a2.319 2.319 0 0 0-2.314 2.323v15.003a2.319 2.319 0 0 0 2.314 2.316h27.05a2.319 2.319 0 0 0 2.315-2.315v-15zm-1.842 5.6v3.813a1.75 1.75 0 0 1-1.206 1.663 5.062 5.062 0 0 0-3.334 3.67.954.954 0 0 1-.93.743H9.886a.954.954 0 0 1-.93-.744 5.057 5.057 0 0 0-3.815-3.814.954.954 0 0 1-.743-.93v-5.004c0-.446.309-.833.743-.931a5.057 5.057 0 0 0 3.814-3.814.954.954 0 0 1 .931-.744h17.057c.45.002.838.318.93.76a5.06 5.06 0 0 0 3.334 3.668 1.75 1.75 0 0 1 1.205 1.663zm-1.907.114a6.987 6.987 0 0 1-4.28-4.28H10.589a6.99 6.99 0 0 1-4.264 4.28v3.573a6.99 6.99 0 0 1 4.28 4.28H26.24a6.987 6.987 0 0 1 4.264-4.28v-3.573z').path-color1

mixin iconPayment3
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 37 37')
    g
      path(d='M22.822 20.848a.85.85 0 0 0-.85-.85H9.902a.85.85 0 0 0 0 1.7h12.07c.47 0 .85-.38.85-.85z').path-color1
      path(d='M27.328.956a1.7 1.7 0 0 0-1.828.255l-1.87 1.658L20.91.446a1.7 1.7 0 0 0-2.253 0l-2.72 2.465L13.174.446a1.7 1.7 0 0 0-2.295 0L8.2 2.91l-1.87-1.657a1.7 1.7 0 0 0-2.806 1.275v29.413A5.058 5.058 0 0 0 8.541 37h19.892a5.058 5.058 0 0 0 4.888-5.058v-1.02a2.55 2.55 0 0 0-2.55-2.55h-2.423V2.53a1.7 1.7 0 0 0-1.02-1.573zM8.541 35.3a3.358 3.358 0 0 1-3.358-3.358V2.529l1.87 1.657a1.7 1.7 0 0 0 2.253 0l2.72-2.465 2.72 2.465a1.7 1.7 0 0 0 2.254 0l2.72-2.465 2.72 2.465a1.7 1.7 0 0 0 2.253 0l1.87-1.657V28.37H14.45a2.55 2.55 0 0 0-2.55 2.55v1.02A3.358 3.358 0 0 1 8.54 35.3zm22.23-5.228c.47 0 .85.38.85.85v1.02a3.358 3.358 0 0 1-3.358 3.358H12.324a5.059 5.059 0 0 0 1.275-3.358v-1.02c0-.47.38-.85.85-.85h16.322z').path-color1
      path(d='M15.384 14.983a.978.978 0 0 1-1.062-.85l-.086-.426-1.912.51.127.426a2.592 2.592 0 0 0 2.125 2.082v.893h1.53v-.935a2.635 2.635 0 0 0 1.53-.808 2.55 2.55 0 0 0 .638-1.785 2.38 2.38 0 0 0-.297-1.232 2.292 2.292 0 0 0-.85-.808 8.964 8.964 0 0 0-1.318-.595 3.62 3.62 0 0 1-.935-.425.424.424 0 0 1-.128-.34.553.553 0 0 1 .17-.425.64.64 0 0 1 .468-.17c.255 0 .595.085.892.765l.17.383 1.7-.68-.127-.383a2.423 2.423 0 0 0-1.87-1.7v-.978h-1.572v.935a2.294 2.294 0 0 0-1.445.85c-.34.47-.52 1.036-.51 1.616-.012.43.09.855.297 1.232.194.336.473.614.808.808.391.225.804.41 1.232.552.36.108.704.266 1.02.468a.469.469 0 0 1 .17.382.636.636 0 0 1-.17.468.808.808 0 0 1-.595.17zM19.422 24.249h-6.97a.85.85 0 0 0 0 1.7h6.97a.85.85 0 0 0 0-1.7z').path-color1

mixin iconLoade1
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50')
    g
      path(d='M25.6 19.244c-.082-.139-.221-.222-.277-.222H22.82c.056-5.336 2.779-6.531 3.418-7.031.139-.056.139-.028 0-.028-4.197 0-6.892 3.057-6.948 7.087h-2.473c-.14 0-.278.083-.278.222-.083.139-.083.278 0 .361l4.252 5.447c.083.083.139.139.278.139s.222-.056.278-.139l4.252-5.475c.084-.083.084-.222 0-.361zM30.992 12.074c-.083-.083-.14-.139-.278-.139-.14 0-.222.056-.278.139l-4.28 5.475c-.083.083-.083.222 0 .361.083.139.222.222.278.222h2.5c-.055 5.336-2.778 6.531-3.417 7.031-.14.056-.14.028 0 .028 4.197 0 6.892-3.057 6.948-7.087h2.473c.139 0 .278-.083.278-.222.083-.139.083-.278 0-.361l-4.224-5.447z').path-color
      path(d='M36.405 0H15.352a3.794 3.794 0 0 0-3.801 3.801v42.398A3.794 3.794 0 0 0 15.35 50h21.054a3.794 3.794 0 0 0 3.8-3.801V3.801A3.794 3.794 0 0 0 36.406 0zm2.047 46.199c0 1.111-.936 2.047-2.047 2.047H15.352c-1.111 0-2.047-.936-2.047-2.047V3.801c0-1.111.936-2.047 2.047-2.047h21.053c1.11 0 2.047.936 2.047 2.047v42.398z').path-color
      path(d='M25.878 37.719a3.794 3.794 0 0 0-3.801 3.801 3.794 3.794 0 0 0 3.8 3.801 3.794 3.794 0 0 0 3.802-3.801 3.792 3.792 0 0 0-3.801-3.801zm0 5.848c-1.111 0-2.047-.936-2.047-2.047 0-1.111.936-2.047 2.047-2.047 1.11 0 2.047.936 2.047 2.047a2.071 2.071 0 0 1-2.047 2.047z').path-color

mixin iconLoader2
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50')
    g
      path(d='M42.96 0H17.034a.917.917 0 0 0-.654.271L8.046 8.605a.933.933 0 0 0-.27.654v39.815c0 .511.414.926.925.926h34.26a.926.926 0 0 0 .925-.926V.926A.926.926 0 0 0 42.96 0zM16.108 3.161v5.172h-5.172l5.172-5.172zm25.926 44.987H9.627V10.185h7.407a.927.927 0 0 0 .926-.926V1.852h24.074v46.296z').path-color
      path(d='M37.405 18.519H17.96a.927.927 0 0 0 0 1.852h19.445a.926.926 0 1 0 0-1.852zM30.923 6.019h6.481a.926.926 0 1 0 0-1.852h-6.48a.927.927 0 0 0 0 1.852zM28.145 10.185h9.26a.926.926 0 1 0 0-1.852h-9.26a.927.927 0 0 0 0 1.852zM37.405 25.926H14.256a.927.927 0 0 0 0 1.852h23.15a.926.926 0 1 0 0-1.852zM37.405 33.333H14.256a.927.927 0 0 0 0 1.852h23.15a.926.926 0 1 0 0-1.852zM37.405 40.741H14.256a.927.927 0 0 0 0 1.852h23.15a.926.926 0 1 0 0-1.852z').path-color

mixin iconLoader3
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50')
    g
      path(d='M19.949 6.797h2.532v2.532h-2.532zM27.544 6.797h2.532v2.532h-2.532z').path-color
      path(d='M38.335 13.608h-3.462V1.266C34.873.567 34.307 0 33.608 0h-17.19c-.7 0-1.266.567-1.266 1.266v12.342H11.69c-.7 0-1.266.566-1.266 1.265V26.69a10.76 10.76 0 0 0 10.158 10.728v11.316c0 .699.567 1.266 1.266 1.266h6.329c.699 0 1.266-.567 1.266-1.266V37.418A10.759 10.759 0 0 0 39.6 26.659V14.873c0-.699-.567-1.265-1.266-1.265zM17.017 2.028h15.992V13.73H17.017V2.028zM27.54 48.027h-5.057V37.449h5.057v10.578zm9.987-21.293a8.541 8.541 0 0 1-8.541 8.541h-7.95a8.541 8.541 0 0 1-8.54-8.541V15.782h25.03v10.952z').path-color

mixin iconLoader4
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50')
    path(d='M46.095 3.155H3.934c-.468 0-.781.312-.781.78v23.423c0 .468.312.781.781.781h42.161c.468 0 .781-.312.781-.78V3.935c0-.47-.312-.781-.78-.781zm-.78 23.422h-40.6V4.717h40.6v21.86zM47.656.032H2.373C1.046.032.031 1.047.031 2.374v30.45c0 1.326 1.015 2.341 2.342 2.341h45.284c1.327 0 2.342-1.015 2.342-2.342V2.373C50 1.048 48.984.033 47.657.033zm.78 32.791c0 .468-.312.781-.78.781H2.372c-.468 0-.781-.312-.781-.78V2.373c0-.468.312-.781.781-.781h45.284c.468 0 .781.312.781.78v30.45zm-3.123-1.952c0 .625-.547 1.171-1.17 1.171-.626 0-1.172-.547-1.172-1.17 0-.625.547-1.172 1.171-1.172.625 0 1.171.547 1.171 1.171zm-3.902.391c0 .468-.312.781-.781.781h-7.027c-.468 0-.781-.312-.781-.78 0-.47.312-.782.78-.782h7.028c.468 0 .78.312.78.781zm-29.67-18.739c0-.468.312-.78.78-.78H28.92c.468 0 .78.311.78.78 0 .468-.311.781-.78.781H12.523c-.468 0-.781-.312-.781-.78zm19.519 0c0-.468.312-.78.78-.78h7.028c.468 0 .78.311.78.78 0 .468-.311.781-.78.781h-7.027c-.468 0-.781-.312-.781-.78zm-19.52 3.123c0-.468.313-.78.782-.78h6.246c.468 0 .78.311.78.78 0 .47-.311.781-.78.781h-6.246c-.468 0-.781-.312-.781-.78zm10.15-.78h8.589c.468 0 .78.312.78.781 0 .47-.311.781-.78.781h-8.588c-.468 0-.781-.312-.781-.78 0-.47.313-.782.78-.782zm-10.15 3.904c0-.468.313-.78.782-.78h9.369c.468 0 .78.311.78.78 0 .468-.311.781-.78.781h-9.37c-.467 0-.78-.313-.78-.78zm33.573 24.203a3.866 3.866 0 0 0-3.903-3.904H39.85c-1.327 0-2.342-1.015-2.342-2.342 0-.468-.312-.78-.781-.78-.468 0-.781.311-.781.78a3.866 3.866 0 0 0 3.904 3.904h1.562c1.326 0 2.341 1.015 2.341 2.342a4.698 4.698 0 0 0-4.684 4.685c0 1.327 1.015 2.342 2.342 2.342h6.245c1.327 0 2.342-1.015 2.342-2.342a4.698 4.698 0 0 0-4.684-4.685zm2.343 5.466h-6.245c-.468 0-.781-.312-.781-.781a3.132 3.132 0 0 1 3.122-3.123h1.562a3.132 3.132 0 0 1 3.123 3.123c0 .469-.313.781-.78.781zm-11.711-6.246c0 .468-.312.781-.781.781h-20.3c-.468 0-.781-.312-.781-.78 0-.469.312-.782.78-.782h.782a4.698 4.698 0 0 0 4.685-4.685c0-.468.312-.78.78-.78.47 0 .782.311.782.78 0 1.874-.86 3.513-2.108 4.685h10.462a6.15 6.15 0 0 1-2.108-4.685c0-.468.312-.78.78-.78.47 0 .782.311.782.78a4.698 4.698 0 0 0 4.685 4.685h.78c.468 0 .78.312.78.781zm-2.342 3.747c-.078-.312-.39-.625-.781-.625H1.592c-.39 0-.703.234-.781.625L.03 49.063c-.078.234 0 .468.156.703.156.156.39.234.625.234h32.792c.234 0 .468-.078.625-.312a.75.75 0 0 0 .156-.703l-.78-3.045zM1.826 48.439l.39-1.562h29.982l.39 1.562H1.826z').path-color

mixin iconLoader5
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 36.111 50')
    path(d='M.926 50h25.926a.917.917 0 0 0 .654-.271l8.333-8.333a.917.917 0 0 0 .271-.654V.926A.925.925 0 0 0 35.185 0H.926A.926.926 0 0 0 0 .926v48.148c0 .511.414.926.926.926zm26.852-3.161v-5.172h5.172l-5.172 5.172zM1.852 1.852h32.407v37.963h-7.407a.927.927 0 0 0-.926.926v7.407H1.852V1.852z').path-color
    path(d='M16.012 28.375l-.065-.856c-.197-1.778.396-3.721 2.041-5.697 1.482-1.745 2.306-3.029 2.306-4.511 0-1.679-1.054-2.799-3.128-2.832-1.186 0-2.503.395-3.326 1.021l-.79-2.074c1.086-.791 2.963-1.317 4.708-1.317 3.787 0 5.499 2.338 5.499 4.841 0 2.239-1.251 3.853-2.831 5.729-1.449 1.712-1.976 3.161-1.877 4.84l.032.856h-2.569zm-.723 4.61c0-1.218.822-2.075 1.976-2.075 1.152 0 1.942.856 1.942 2.075 0 1.152-.757 2.042-1.976 2.042-1.152 0-1.942-.889-1.942-2.042z').path-color

mixin catalogBlock1
  .catalog__block
    .catalog__block-img
      a(href="#!")
      img(src="./img/catalog/catalog-1.png", alt="").img-first
      img(src="./img/catalog/catalog-1.png", alt="").img-default
      img(src="./img/catalog/catalog-2.png", alt="").img-hover
    .catalog__block-content
      .catalog__block-color
        ul
          li(style="background-color: #F2C94C")
          li.active(style="background-color: #2D9CDB")
          li(style="background-color: #828282")
      a(href="#!").catalog__block-name Xiaomi Redmi Note 5A Prime 3/32 Gold
      ul.catalog__block-rating
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li
          i.fas.fa-star
      .catalog__block-price
        del 2 699 
          small грн
        strong 1 699 
          small грн
      .catalog__block-th
        .catalog__block-th-wrapper
          p Характеристики (138.5 x 65.5 x.8.85 мм, Литий-ионный, 2000 мА*ч, Пластик)
          p Дисплей (960*480, 4.95 TN (18:9))
          p Основные параметры (Android V 7.0 Nougat, SC7731C, 4, 8 ГБ, 1 ГБ, 2)
          p Камера (5 Мп, 5 Мп, Автофокус, Вспышка)
          p Сеть (2G, 3G)
          p Связь (Wi-Fi, GPS, Bluetooth)
          p Прочее (24 месяцев от производителя, телефон, кабель USB, инструкция, адаптер питания, гарантийный талон)
      button(type="button").btn.btn--green
        i.fas.fa-shopping-cart
        | В корзину 
        
mixin catalogBlock2
  .catalog__block
    .catalog__block-img
      a(href="#!")
      img(src="./img/catalog/catalog-1.png", alt="").img-first
      img(src="./img/catalog/catalog-1.png", alt="").img-default
      img(src="./img/catalog/catalog-3.png", alt="").img-hover
    .catalog__block-content
      .catalog__block-color
        ul
          li.active(style="background-color: #F2C94C")
          li(style="background-color: #2D9CDB")
          li(style="background-color: #828282")
      a(href="#!").catalog__block-name Nous Optimum NS2414
      ul.catalog__block-rating
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li
          i.fas.fa-star
      .catalog__block-price
        strong 1 699 
          small грн
      .catalog__block-th 
        .catalog__block-th-wrapper
          p Характеристики (138.5 x 65.5 x.8.85 мм, Литий-ионный, 2000 мА*ч, Пластик)
          p Дисплей (960*480, 4.95 TN (18:9))
          p Основные параметры (Android V 7.0 Nougat, SC7731C, 4, 8 ГБ, 1 ГБ, 2)
          p Камера (5 Мп, 5 Мп, Автофокус, Вспышка)
      button(type="button").btn.btn--green
        i.fas.fa-shopping-cart
        | В корзину 
        
mixin catalogBlock3
  .catalog__block
    .catalog__block-img
      a(href="#!")
      img(src="./img/catalog/catalog-3.png", alt="").img-first
      img(src="./img/catalog/catalog-3.png", alt="").img-default
      img(src="./img/catalog/catalog-1.png", alt="").img-hover
    .catalog__block-content
      .catalog__block-color
        ul
          li.active(style="background-color: #F2C94C")
      a(href="#!").catalog__block-name Зарядное устройство
      ul.catalog__block-rating
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li
          i.fas.fa-star
      .catalog__block-price
        del 280
          small грн
        strong 200 
          small грн
      button(type="button").btn.btn--green
        i.fas.fa-shopping-cart
        | В корзину 
        
mixin catalogBlock4
  .catalog__block
    .catalog__block-img
      a(href="#!")
      img(src="./img/catalog/catalog-2.png", alt="").img-first
      img(src="./img/catalog/catalog-2.png", alt="").img-default
      img(src="./img/catalog/catalog-3.png", alt="").img-hover
    .catalog__block-content
      .catalog__block-color
        ul
          li(style="background-color: #F2C94C")
          li(style="background-color: #2D9CDB")
          li.active(style="background-color: #828282")
      a(href="#!").catalog__block-name Nous Optimum NS2414
      ul.catalog__block-rating
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li.star-color
          i.fas.fa-star
        li
          i.fas.fa-star
      .catalog__block-price
        del 1 899
          small грн
        strong 1 699 
          small грн
      button(type="button").btn.btn--green
        i.fas.fa-shopping-cart
        | В корзину 
